.table{
	
    thead{
        tr{
            th{
                color: white;
            }
        }
    } 
    tbody{
        tr{
            td{
                color: white;
            }
        }
    }
}
.addBook{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
.addBook:hover{
	color: #00d9ff;
}
.customTable{
	width: 80%;
	margin-top: 50px;
	margin: 0 auto;
}
.actionIcon{
	cursor: pointer;
}
.actionIcon:hover{
	color: #00d9ff;
    text-decoration: none;
    background-color: transparent;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;

}
.modalDialog:target {
        display: block;
        pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff;}
.marginMatForm{
	width: 80%;
    margin: 0 auto;
    margin-left: 10%;
	
}
.mat-drawer-container {
	height: 100%;
}
.mat-drawer {
	width: 10%;
}
.page-icon{
	color: white;
}