<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <a class="page-icon" routerLink="/admin/author">
            <div class="actionIcon d-flex justify-content-center" > Author Page
                <i class="material-icons">pageview</i></div>
        </a>
        <a class="page-icon" routerLink="/admin/book">
            <div class="actionIcon d-flex justify-content-center" > Book Page
                <i class="material-icons">pageview</i></div>
        </a>
        <a class="page-icon" routerLink="/admin/user">
            <div class="actionIcon d-flex justify-content-center" > User Page
                <i class="material-icons">pageview</i></div>
        </a>
        <div class="filterItem" *ngFor="let item of  toggleList">
            <mat-checkbox [(ngModel)]="item.isCheck" [checked]="item.isCheck" (change)="checkValue($event, item.value)">
                {{item.textToggle}}</mat-checkbox>
        </div>
        <div class="filterItem">
            <button class="form-control" (click)="getFirstPage()">Filtering</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <div class="conteiner">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 customTable" matSort
                (matSortChange)="sortData($event)">


                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="CreationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date:'MM/dd/yyyy' }} </td>
                </ng-container>


                <ng-container matColumnDef="UserName">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.user.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="UserEmail">
                    <th mat-header-cell *matHeaderCellDef> User Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
                </ng-container>

                <ng-container matColumnDef="Product">
                    <th mat-header-cell *matHeaderCellDef> Product </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor="let item of element.orderItems">
                            {{item.book.type | eNumAsString}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor="let item of element.orderItems">
                            {{item.book.name}}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="OrderPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPrice}} {{element.currency | eNumAsStringCurrency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="customTable" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length"
                [pageSizeOptions]="resizeOptionTable" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-drawer-content>
</mat-drawer-container>