<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1>Registration</h1>
    <form [formGroup]="regForm" (ngSubmit)="submit()">
      <input type="text" id="login" class="fadeIn second" name="login" formControlName="login" placeholder="Login">
      <div *ngIf="f.login.invalid && submitted" class="alert alert-danger">
       Login is required
      </div>
        <input type="text" id="firstName" class="fadeIn second" name="firstName" formControlName="firstName"
          placeholder="First Name">
          <div class="alert alert-danger"
          *ngIf="f.firstName.invalid && submitted">
          First Name is required
          </div>
      <input type="text" id="lastName" class="fadeIn second" name="lastName" formControlName="lastName"
        placeholder="Last Name">
        <div class="alert alert-danger"
        *ngIf="f.lastName.invalid && submitted">
        Last Name is required
        </div>
      <input type="text" id="email" class="fadeIn second" name="email" formControlName="email" placeholder="Email">
      <div class="alert alert-danger"
      *ngIf="f.email.invalid && submitted">
      Invalid email
      </div>
      <input type="password" id="password" class="fadeIn third" name="password" formControlName="password"
        placeholder="Password">
      <div *ngIf="f.password.invalid && submitted" class="alert alert-danger">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
      <input type="password" id="confirmPassword" class="fadeIn third" name="passwordConfirm"
        formControlName="passwordConfirm" placeholder="Confirm Password">
        <div *ngIf="f.passwordConfirm.invalid && submitted" class="alert alert-danger">
            Password Confirm is required
          </div>

      <input type="submit" class="fadeIn fourth">
    </form>


  </div>
</div>