<div [formGroup]="PayGroup" mat-dialog-content>
    <label class="d-flex justify-content-center" for="">Number Cart</label>
    <input class="form-control" id="name" formControlName="cart" required>
</div>
<div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="data">Ok</button>
</div>