 <nav class="navbar ">
      <div class="navbar-brand">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="navbar-item">
                {{nameStore}}
            </a>
          </div>
          <div class="d-flex">
              <app-profile-icon class="d-flex"></app-profile-icon>
              <app-cart-icon class="d-flex"></app-cart-icon>
          </div>
        </nav>