<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <a class="page-icon" routerLink="/admin/author">
            <div class="actionIcon d-flex justify-content-center"> Author Page
                <i class="material-icons">pageview</i></div>
        </a>
        <a class="page-icon" routerLink="/admin/order">
            <div class="actionIcon d-flex justify-content-center"> Order Page
                <i class="material-icons">pageview</i></div>
        </a>
        <a class="page-icon" routerLink="/admin/user">
            <div class="actionIcon d-flex justify-content-center"> User Page
                <i class="material-icons">pageview</i></div>
        </a>
        <div class="actionIcon d-flex justify-content-center" (click)='addBook()'> Add Book
            <i class="material-icons">add_circle</i></div>
        <div class="filterItem" *ngFor="let item of  toggleList">
            <mat-checkbox [(ngModel)]="item.isCheck" [checked]="item.isCheck" (change)="checkValue($event, item.value)">
                {{item.textToggle}}</mat-checkbox>
        </div>
        <div class="filterItem">
            <button class="form-control" (click)="getFirstPage()">Filtering</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <div class="conteiner">
            <mat-form-field class="customTable marginMatForm">
                <input matInput (keyup)="searchFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 customTable" matSort
                (matSortChange)="sortData($event)">
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="discription">
                    <th mat-header-cell *matHeaderCellDef> Discription </th>
                    <td mat-cell *matCellDef="let element"> {{element.discription}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.type | eNumAsString}} </td>
                </ng-container>
                <ng-container matColumnDef="authors">
                    <th mat-header-cell *matHeaderCellDef> Authors </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor="let item of element.authors">
                            {{item.firstName}} {{item.lastName}}
                        </div>
                    </td>
                </ng-container>



                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price | number : '1.2-2'}} {{element.currency | eNumAsStringCurrency}}</td>
                </ng-container>
                <ng-container matColumnDef="customColumn">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">

                        <i (click)='delete(element)' class="material-icons actionIcon">
                            highlight_off
                        </i>
                        <i (click)='change(element)' class="material-icons actionIcon">
                            create
                        </i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="customTable" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length"
                [pageSizeOptions]="resizeOptionTable" (page)="pageEvent = getFilteredData($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-drawer-content>
</mat-drawer-container>