<div class="d-flex" *ngIf="isSignIn" ><a [routerLink]="['/login']" (click) = "LogOff()"  routerLinkActive="router-link-active" >{{fullNameUser}}</a> </div>
<div class="d-flex" *ngIf="!isSignIn" ><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign In</a></div>
<a routerLink="/profile">
    <i class="material-icons">
    account_circle
    </i>
</a>
