<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened autosize>
        <div class="filter">
            <div class="filterItem" *ngFor="let item of  toggleList">
                <mat-checkbox [(ngModel)]="item.isCheck" [checked]="item.isCheck" (change)="checkValue($event, item.value)">
                    {{item.textToggle}}</mat-checkbox>
            </div>
            <div class="filterItem">
                <mat-form-field class="">
                    <input matInput type="number" min="0" [attr.max]="filterBookData.maxPrice"
                        (keyup)="filterMinPrice($event)" placeholder="Min Price">
                </mat-form-field>
                <mat-form-field class="">
                    <input matInput type="number" [attr.min]="filterBookData.minPrice" (keyup)="filterMaxPrice($event)"
                        placeholder="Max Price">
                </mat-form-field>
            </div>
            <div class="filterItem">
                <button class="form-control" (click)="getFirstPage()">Filtering</button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="h-100">
        <div class="container">
            <div class="row">
                <mat-form-field class="customTable marginMatForm col">
                    <input matInput (keyup)="searchFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <select (change)="sortType($event)" class="justify-content-end form-control col">
                    <option *ngFor="let item of sortList" [value]="item.value">{{item.textSort}}
                    </option>
                </select>
                <mat-select [(value)]='currencySumm' [formControl]="currencyControl" (selectionChange)="changeSelect()">
                    <mat-option *ngFor="let currencyItem of currencyList" [value]="currencyItem.value">
                        {{ currencyItem.currency }}
                    </mat-option>
                </mat-select>
            </div>

            <div class="row">
                <div *ngFor="let item of bookList" class="col-lg-4 ">

                    <div class="row border content">
                        <div class="col-md-6">
                            <i class="material-icons">
                                import_contacts
                            </i>
                            <p class="Name">Name: {{item.name}}</p>
                            <p class="Type">Type: {{item.type | eNumAsString}}</p>
                            <p class="Price">Price: {{item.price | number : '1.2-2'}}
                                {{item.currency | eNumAsStringCurrency}}</p>
                        </div>
                        <div class="col-md-6 ">
                            <input (keyup)="changeCountItem(item,$event)" type="number" min="0" [attr.max]="item.count"
                                class="form-control">
                            <button class="form-control" (click)="addToCart(item)">
                                Add to Cart
                            </button>
                            <button class="form-control"
                                (click)="discriptionBook(item.discription)">
                                Discription
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Angular 8 pagination -->
        <mat-paginator class="customTable" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length"
            [pageSizeOptions]="resizeOptionTable" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-drawer-content>
</mat-drawer-container>