.table {
  margin: 0 auto;
  thead {
    tr {
      th {
        color: white;
      }
    }
  }
  tbody {
    tr {
      td {
        color: white;
      }
    }
  }
}
mat-drawer {
  width: auto;
}
.container {
  padding: 0;
  width: auto;
}
.row {
  width: 100%;
}
.content {
  margin-top: 50px;
}
.border {
  padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 10%;
}
.noLinkStyle {
  color: white;
  padding: 0;
  // display:;
}
.example-container{
  height: 100%;
}
