<div class="container">
    <div class="row">
        <div mat-dialog-content class="col" style="height: 550px;">
            <input class="form-control" type="hidden" [(ngModel)]="data.id">
            <label for="">Name</label>
            <input class="form-control" type="text" [(ngModel)]="data.name">
            <label for="">Price</label>
            <input class="form-control" type="number" min="0" [(ngModel)]="data.price">
            <label for="">Currency</label>
            <mat-select  [formControl]="currencyControl" [(ngModel)]="data.currency" [compareWith] = "compareCurrency">
                <mat-option *ngFor="let currencyItem of currencyFilterModels" [value]="currencyItem.value">{{ currencyItem.currency }}</mat-option>
            </mat-select>
            <label for="">Type</label>
            <mat-select [(ngModel)]="data.type" [compareWith] = "compareTypeBook">
                <mat-option *ngFor="let item of printingEditionType" [value]="item.value">{{ item.textToggle }}</mat-option>
            </mat-select>
            <label for="">Publication Date</label>
            <input class="form-control" type="date" ng-bind="date.publicationDate | date:'MM/dd/yyyy'"
                [(ngModel)]="data.publicationDate">
            <label for="">Authors</label>
            <mat-form-field>
                <mat-label>Authors</mat-label>
                <mat-select [formControl]="authorsControl" [compareWith] = "compareAuthor" [(ngModel)]="this.data.authors" multiple>
                    <mat-option *ngFor="let author of authorModels" [value]="author">{{author.firstName}} {{author.lastName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <label for="">Discription</label>
            <textarea class="form-control" [(ngModel)]="data.discription"></textarea>
            <div mat-dialog-actions class="d-flex justify-content-center">
                    <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="data">Ok</button>
                </div>
        </div>
    </div>

</div>