<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
          <a class="page-icon" routerLink="/admin/author">
        <div class="actionIcon d-flex justify-content-center" > Author Page
            <i class="material-icons">pageview</i></div>
            </a>
              <a class="page-icon" routerLink="/admin/order">
        <div class="actionIcon d-flex justify-content-center"> Order Page
            <i class="material-icons">pageview</i></div>
            </a>
              <a class="page-icon" routerLink="/admin/book">
        <div class="actionIcon d-flex justify-content-center" > Book Page
            <i class="material-icons">pageview</i></div>
            </a>
            <div class="filter">
                    <div class="filterItem" *ngFor="let item of  toggleActiveUser">
                        <mat-checkbox [(ngModel)]="item.isCheck" [checked]="item.isCheck" (change)="checkValue($event, item.value)">
                            {{item.textToggle}}</mat-checkbox>
                    </div>
                    <div class="filterItem">
                        <button class="form-control" (click)="getFirstPage()">Filtering</button>
                    </div>
                </div>
    </mat-drawer>
    <mat-drawer-content>

        <div class="conteiner">
            <mat-form-field class="customTable marginMatForm">
                <input matInput (keyup)="searchFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 customTable" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef > # </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef > First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef > Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="codeEmail">
                    <th mat-header-cell *matHeaderCellDef > Email State </th>
                    <td mat-cell *matCellDef="let element"> {{element.emailConfirmed}} </td>
                </ng-container>


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef > Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef > Active State </th>
                    <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
                </ng-container>

            


                <ng-container matColumnDef="customColumn">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">

                        <i (click)='delete(element)' class="material-icons actionIcon">
                            highlight_off
                        </i>
                        <i (click)='change(element)' class="material-icons actionIcon">
                            create
                        </i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="customTable" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length"
                [pageSizeOptions]="resizeOptionTable" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-drawer-content>
</mat-drawer-container>