.table{
	
    thead{
        tr{
            th{
                color: white;
            }
        }
    } 
    tbody{
        tr{
            td{
                color: white;
            }
        }
    }
}
.addBook{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
.addBook:hover{
	color: #00d9ff;
}
.customTable{
	width: 80%;
	margin-top: 50px;
	margin: 0 auto;
}
.actionIcon{
	cursor: pointer;
}
.actionIcon:hover{
	color: #00d9ff;
    text-decoration: none;
    background-color: transparent;
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff;}
.marginMatForm{
	width: 80%;
    margin: 0 auto;
    margin-left: 10%;
	
}
.mat-drawer-container {
	height: 100%;
}
.mat-drawer {
	width: 10%;
}
.page-icon{
	color: white;
}