<div class="container">
    <div class="table-responsive table-hover table-dark">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Count</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bookOrder.orderItems">
                    <td>{{item.book.name}}</td>
                    <td>{{item.book.price | number : '1.2-3'}} {{item.book.currency | eNumAsStringCurrency}}</td>
                    <td>{{item.count}}</td>
                    <td>
                        <button (click)="removeBook(item)">delete</button>
                        <button (click)="addCountBook(item)">+</button>
                        <button (click)="removeCountBook(item)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button style="width: 100%;" class="btn btn-primary" (click)="payOrder()">Pay</button>
</div>