<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <input type="text" id="email" class="fadeIn second" name="login" formControlName="login" placeholder="Login">
      <div class="alert alert-danger"
        *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched">
        Invalid email
      </div>
      <input type="password" id="password" class="fadeIn third" name="password" formControlName="password"
        placeholder="Password">
        <mat-checkbox formControlName="isRememberMe"> Remember Me </mat-checkbox>
      </form>
     
      <input type="submit" value="Enter" (click)="submit()" class="fadeIn fourth">
    
    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Register</a>
    </div>
    <div id="formFooter">
      <p style="cursor: pointer;" class="underlineHover" (click) = "forwardPassword()" >Forward Password</p>
    </div>
  </div>
</div>