<div class="container">
    <label for="">First Name</label>
    <input class="form-control" type="text" [(ngModel)]="data.firstName">
    <label for="">Last Name</label>
    <input class="form-control" type="text" [(ngModel)]="data.lastName">
    <div mat-dialog-actions class="d-flex justify-content-center">
        <button mat-raised-button (click)="onNoClick()" [mat-dialog-close]="data">Update</button>
    </div>
</div>