<div class="content d-flex justify-content-center flex-column align-items-center">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <a *ngIf="isAdmin" [routerLink]="['/admin/book']" routerLinkActive="router-link-active">
            Admin Control Panel</a>
        <form [formGroup]="EditForm" (ngSubmit)="editProfile()">


            <i style="font-size: 100px;" class="material-icons">
                account_box
            </i>
            <div class="p-2">
                <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]="firstName">
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="f.firstName.invalid && submitted">
                    First Name is required
                </div>
            </div>
            <div class="p-2">
                <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="lastName">
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="f.lastName.invalid && submitted">
                    Last Name is required
                </div>
            </div>
            <div class="p-2">
                <mat-form-field>
                    <input matInput placeholder="Email" type="email" formControlName="email" [(ngModel)]="email">
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="f.lastName.invalid && submitted">
                    Email is required
                </div>
            </div>
            <div class="p-2">
                <mat-form-field>
                    <input matInput placeholder="Old password" type="password" formControlName="oldPassword">
                </mat-form-field>
            </div>
            <div class="p-2">
                <mat-form-field>
                    <input matInput placeholder="New password" type="password" formControlName="newPassword">
                </mat-form-field>
            </div>
            <div class="p-2">
                <button mat-raised-button>Edit</button>
            </div>
        </form>
    </div>
</div>