<div class="container">
    <label for=""> Email</label>
    <input class="fadeIn second form-control col" type="email" [(ngModel)]="email">
    <div class="col">
        <button class="justify-content-center form-control" (click)="onNoClick()" [mat-dialog-close]="data">Send New
            Password</button>
    </div>
</div>