<div class="content">
    <h1>{{data.titleWindow}}</h1>
    <p class="d-flex justify-content-center" >{{data.textContent}}</p>
    <div class="d-flex justify-content-around">
        <button (click) = "onNoClick(true)">{{data.titleOk}}</button>
        <button (click) = "onNoClick(false)">{{data.titleCancel}}</button>
    </div>

</div>