<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <a class="page-icon" routerLink="/admin/book">
            <div class="actionIcon d-flex justify-content-center"> Book Page<i class="material-icons">pageview</i></div>
        </a>
        <a class="page-icon" routerLink="/admin/order">
            <div class="actionIcon d-flex justify-content-center"> Order Page
                <i class="material-icons">pageview</i></div>
        </a>
        <a class="page-icon" routerLink="/admin/user">
            <div class="actionIcon d-flex justify-content-center"> User Page
                <i class="material-icons">pageview</i></div>
        </a>
        <div class="actionIcon d-flex justify-content-center" (click)='addAuthor()'> Add Author<i
                class="material-icons">add_circle</i></div>
    </mat-drawer>
    <mat-drawer-content>

        <div class="conteiner">
            <mat-form-field class="customTable marginMatForm">
                <input matInput (keyup)="searchFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 customTable" matSort>

                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="PrintingEdition">
                    <th mat-header-cell *matHeaderCellDef> PrintingEdition </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor="let item of element.printintEditions">
                            {{item.name}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="customColumn">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">

                        <i (click)='delete(element)' class="material-icons actionIcon">
                            highlight_off
                        </i>
                        <i (click)='change(element)' class="material-icons actionIcon">
                            create
                        </i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="customTable" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length"
                [pageSizeOptions]="resizeOptionTable" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-drawer-content>
</mat-drawer-container>