<div mat-dialog-content>
    <label for="">firstName</label>
    <input class="form-control" type="text" [(ngModel)]="data.firstName">
    <label for="">lastName</label>
    <input class="form-control" type="text" [(ngModel)]="data.lastName">
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>